<% provide(:title, "Cart") %>
<h1>Your Cart</h1>

<table class="row">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>

<tbody>
    <% @current_cart.cart_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, product_path(item.product.id) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency item.product.price, unit: 'AUD' %></td>
        <td><%= number_to_currency item.total_price, unit: 'AUD' %></td>
        <td><%= link_to 'Remove', cart_item_url(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div class="total-price"><b>
  Total Price: </b><span style="color: green"><%= number_to_currency @current_cart.total_price, unit: 'AUD' %></span>
</div>
